
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/SPC/FileContentIndex/read.lock
.vs/SPC/v17/.suo
.vs/VSWorkspaceState.json
__pycache__
*.vsidx
/data/OutputTemplate.xlsx
/.idea
/.vs/SPC/v17
/test.py
/path_to_file.xlsx
/data/OutputTemplate.xlsx
/data/OutputTemplate.xlsx
