
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/SPC/FileContentIndex/602ebd29-ef27-4362-bb06-637c57474d72.vsidx
.vs/SPC/FileContentIndex/8a0230d6-122d-4a10-8a24-d3390b112e77.vsidx
.vs/SPC/FileContentIndex/9b8b3543-b6a9-440e-b277-35dc739a8af5.vsidx
.vs/SPC/FileContentIndex/bd1d2bc5-c185-48d6-952a-2a929f33bfdb.vsidx
.vs/SPC/FileContentIndex/read.lock
.vs/SPC/v17/.suo
.vs/VSWorkspaceState.json
__pycache__/append_toexcel.cpython-39.pyc
__pycache__/main.cpython-39.pyc
.vs/SPC/FileContentIndex/5c16b0c2-1a3f-4b5c-a15b-66fb21040046.vsidx
.vs/SPC/FileContentIndex/8b1cf04f-872e-427d-982f-145b4517c790.vsidx
.vs/SPC/FileContentIndex/1dbac917-37ea-4524-88f4-dcecc6b223ae.vsidx
*.vsidx
